header {
background-image: url(../img/bg.jpg) !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    
    background-size: cover !important;
    background-color: #464646 !important;
}

